{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
h1 {
    font-family: "Sofia", sans-serif;
    font-size: 80px;
    font-style: italic;
    color: #5cb7ce;

}
</style>
<body>

    <div class="speech-box">
        <h1>Able Detection</h1>
        
        <form action="/audio/" method = "post" enctype="multipart/form-data" alignment=center> 
            {% csrf_token %} 
            {{ form }}
        
        <br>
        <img src="{% static 'image/m.png' %}" class="file-input-click">
        <br>
            <span class="uploaded-file"> 
            <button type ='submit'>Upload File</button>
            </span>
        </form>
        <div class="output-text">
            <h3>
                {{Data1}}
                {{ Data1.record }}
            </h3>
            <p>  
                {{Data}}
                {{ Data.record }}
            </p>
        </div>
        <form>
            <input type="file" class="file-input" name="file-input">
        </form>
    </div>
<script type="text/javascript" src="jquery-3.6.1.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('.file-input-click').click(function(e) {
            $('.file-input').click()
            $('.uploaded-file').html($('.file-input').val().replace(/.*(\/|\\)/, '')); 
            $('.file-input').on('change',function(){
                   // output raw value of file input
                   $('.uploaded-file').html($('.file-input').val().replace(/.*(\/|\\)/, ''));
                });
        })
    })
</script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/audio/" method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form }} 
        <button type="submit">Upload</button> 
    </form>
</body>
</html> -->